{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="text-center mt-5">Tickets</h1>

    <div class="row mt-5">
        <div class="col-12">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Origen</th>
                        <th scope="col">Destino</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Precio</th>
                    </tr>
                </thead>
                <tbody>

            </table>
        </div>
    </div>

    <a href="https://reservas.ventaboletostrenmaya.com.mx/" class="btn btn-primary">Comprar en el sitio Oficial</a>

{% endblock %}